body {
  font-family: arial, verdana, sans-serif;
  background-color: #ececec;
}

/* Headings */

h1,
h2 {
  color: #39af99;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

/* Paragraph */

p {
  color: #444444;
}