body {
  font-family: arial, verdana, sans-serif;
  background-color: #ececec;
  background-image: url('background-image.png');
  background-repeat: repeat-x;
  background-position: top center;
}

/* Headings */

h1,
h2 {
  color: #39af99;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

/* Paragraph */

p {
  color: #444444;
}

/* Links */

a {
  color: #1279be;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #303030;
}

#relative-link {
  float: right;
}

.absolute-link {
  color: #fff;
}

/* Layout */

#page {
  overflow: auto;
  width: 960px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
}

#main-content {
  width: 620px;
  float: left;
  margin-right: 10px;
}

#sidebar {
  width: 330px;
  float: right;
  background-color: #39af99;
}

/* List */

ul {
  color: #fff;
}
